services:
  - type: web
    name: iica-plataforma
    env: node
    buildCommand: chmod +x prebuild.sh && ./prebuild.sh && npm install && npx prisma generate && npx prisma db push && npm run build
    startCommand: npm start
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: NODE_ENV
        value: production
    healthCheckPath: /
    autoDeploy: true

databases:
  - name: iica-plataforma-db
    databaseName: iica_plataforma
    user: iica_user
    plan: free
